nav {
  background-color: #fff;
  display: block;
  width: 101%; 
  position:fixed;
  margin: -10px;
  padding:0;
}

  nav ul,
   .pull-right{
    margin: 0;
    padding: 0;
    text-align: center;
  }

    nav ul li, 
     .pull-right li {
      display: inline-block;
      list-style-type: none;
      -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; 
    }

      nav > ul > li > a,
	.pull-right > li > a{
        color: #555;
        display: block;
        line-height: 60px;
        padding: 0 25px;
        text-decoration: none;
      }

        nav > ul > li:hover, 
	 .pull-right > li:hover {
          background-color: rgb( 40, 44, 47 ); 
        }

        nav > ul > li:hover > a,
	  .pull-right > li:hover > a {
          color: rgb( 255, 255, 255 );
        }